<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>

  <link rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre-exp.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre-icons.min.css">

  <title>News Today</title>
  <style>
    a {
      color: #000;
      text-decoration: none !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>

<body style="background-color: #f8f9fa;">

  <div class="container" id="app" style="padding: 0px;">

    <div class="columns" style="margin-top: 64px; margin-bottom: 64px;">
      <div class="column col-6 col-mx-auto" style="text-align: center;">
        <h1><strong>News Today</strong></h1>

        <form v-on:submit="submitSearch">
          <div class="input-group" style="box-shadow: 0 3px 6px rgba(216, 217, 244, 0.3);">
            <input class="form-input" style="border:0px;height: 48px;line-height: 48px;" type="text" placeholder="search something" v-model="search">
            <button class="btn btn-primary input-group-btn" style="height: 48px;" v-on:click="submitSearch">Search</button>
          </div>
        </form>

      </div>
    </div>
    <div class="container grid-lg">
      <span class="h6">Popular</span><button class="btn loading btn-link" v-if="loading">button</button>
      <div class="columns" style="margin-top: 8px;">
        <div class="column col-3" v-for="item in popular" style="margin-bottom: 8px;">
          <a class="card" style="background-color:#fff ;" v-bind:href="item.url">
            <div class="card-header">
              <div class="card-title h6">{{item.title}}</div>
            </div>

            <div class="card-image">
              <img v-bind:src="item.media[0].media_metadata[4].url" style="" class="img-responsive img-fit-cover">
            </div>

            <div class="card-body">
              {{item.abstract}}
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>

</body>

<script>
  Vue.config.devtools = true;

  var app = new Vue( {
    el: '#app',
    data: {
      //api-key FROM https://developer.nytimes.com/  Get NYT API Key 
      api_key: "7c796f15dab54f2cafeb14bd6b9b8785",
      search: "",
      popular: [],
      loading: false
    },
    created: function () {
      var that = this
      that.loading = true
      // Acquire popular news
      var url = "https://api.nytimes.com/svc/mostpopular/v2/mostviewed/all-sections/1.json";
      url += '?' + $.param( {
        'api-key': that.api_key
      } );

      axios.get( url )
        .then( ( res ) => {
          that.loading = false
          console.log( res )
          if ( res.status == 200 && res.data.status == "OK" ) {
            var results = JSON.parse( JSON.stringify( res.data.results ).replace( /media-metadata/g, "media_metadata" ) );
            that.popular = results

          }
        } )

    },
    methods: {
      submitSearch: function () {
        var that = this
        window.open("result.html?key=" + that.search)
      }
    }
  } )
</script>

</html>
